" Shows mode
set showmode

" Enable surround plugin
set surround

" Macros
nmap ;; :action Macro.addNull<CR> 
nmap q<Tab> :action Macro.doubleTab<CR> 


" Copy also from VIM to clipboard
set clipboard=unnamed

" Scroll screen with the cursor
noremap <C-j> gj<C-e>
noremap <C-k> gk<C-y>

" always show 10 lines above cursor or below when j k 
:set scrolloff=10


set ignorecase


" Quit insert mode
inoremap jj <Esc>
inoremap jk <Esc>
inoremap kk <Esc>

" Disable macros recording 
map q <Nop>

nnoremap <Tab> i<Tab>
nnoremap <S-Tab> <<_
inoremap <S-Tab> <C-D>
vnoremap <Tab> >gv
vnoremap <S-Tab> <gv


